@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body {
  font-family: "Poppins", sans-serif;
  &.has-admin-bar {
    .navbar {
      @media (min-width: 601px) {
        top: 32px;
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

nav.bg-info {
  color: white;

  .container {
    .d-flex {
      height: 34px;
    }
  }
}

.img-swipper {
  width: 100%;

  img {
    width: 100%;
  }
}
.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  .nav-link {
    &.active {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: $verde1;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: auto;
      }
    }
  }
}

.swiper {
  overflow: hidden;
  width: 100%;
}

.img-giro {
  position: relative;

  .imgs {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation-name: giro;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    img {
      border-radius: 50%;
      padding: 4px;
      background-color: white;
      animation-duration: 20s;
      animation-name: giro;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: reverse;

      @include media-breakpoint-down(xl) {
        &.img-1 {
          width: 132px;
          height: 132px;
        }

        &.img-2 {
          width: 82px;
          height: 82px;
        }
      }
    }

    .img-1 {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .img-2 {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    @keyframes giro {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.img-pulse {
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: relative;
    padding-top: 100%;
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 75%;
    height: 75%;
    z-index: 1;
    border: solid 1px $verde1;
    border-radius: 50%;
  }

  div {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: $verde1;
    border-radius: 50%;
    z-index: 0;
    opacity: 50;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 77%;
    height: 77%;
    margin: auto;

    @keyframes pulse {
      from {
        opacity: 50%;
        transform: scale(1);
      }

      to {
        opacity: 0%;
        transform: scale(1.4);
      }
    }
  }
}

#nosotros {
  padding-top: 42px;
  padding-bottom: 42px;
}

#servicios {
  background-color: $gris1;
  padding-top: 42px;
  padding-bottom: 42px;

  .card {
    height: 100%;

    .card-text {
      font-size: 14px;
    }
  }

  .row {
    .col {
      padding-top: 20px;
    }
  }
}

#superior {
  font-size: 14px;
}

#sucursales {
  padding-top: 42px;
  padding-bottom: 42px;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }

  @include media-breakpoint-only(lg) {
    padding-bottom: 42px;
  }

  .row {
    .col {
      padding-top: 20px;
    }
  }

  .card {
    height: 100%;

    ul {
      display: block;
      padding: 0;
      font-size: 14px;

      li {
        display: block;
        position: relative;
        padding-left: 32px;

        i {
          position: absolute;
          left: 0;
          top: 5px;
        }

        & + li {
          margin-top: 12px;
        }
      }
    }
  }
}

#contacto {
  padding-top: 42px;
  padding-bottom: 20px;

  .row {
    .col {
      height: 100%;
    }
  }

  p,
  h2 {
    color: white;
  }

  .img-doctor {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      bottom: -20px;
      right: 0;

      @include media-breakpoint-only(lg) {
        max-width: 100%;
      }
    }
  }
}

footer {
  color: $gris2;

  .container {
    .row {
      height: 72px;
    }
  }
}
